body {
  background-color: rgb(32, 36, 39);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.chat-wrapper {
  display: flex;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chat {
  margin-left: 10px;
}

.chat__sidebar {
  background-color: rgb(55, 60, 63);
  padding: 5px 5px 5px 20px;
  margin-bottom: 10px;
  width: 45vh;
}

.chat__users {
  color: rgba(253, 252, 252, 0.685);
}

.chat__mainHeader {
  background-color: rgb(55, 60, 63);
  padding: 5px 5px 10px 20px;
  margin-bottom: 10px;
  width: 45vh;
}

.message__container {
  background-color: rgb(55, 60, 63);
  padding: 10px 20px 5px 20px;
  height: 50vh;
  margin-bottom: 10px;
  overflow-y: scroll;
  width: 43.9vh;

}

.message__chats {
  background-color: rgb(73, 78, 82);
  padding: 1px 1px 1px 10px;
  margin-bottom: 5px;
}

.sender__name {
  font-size: smaller;
  color: rgba(253, 252, 252, 0.685);
}

.chat__footer {
  background-color: rgb(55, 60, 63);
  padding: 15px 5px 30px 15px;
  width: 45vh;
  height: 4vh;
  margin-bottom: 10px;
}

.chat__footer input {
  width: 43vh;
  color:rgb(255, 255, 255);
  border: 2.9px solid rgb(119, 122, 124);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 2px;
  background-color: transparent;
  transition: all 0.3s;
  padding: 13px;
  box-sizing: border-box;
  outline:0;
}

.chat__footer input:focus {
  border: 2.9px solid rgb(146, 148, 150);

}

.cards {

}

@media screen and (max-width: 1200px)  {
  .chat-wrapper {
    display: flex;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }  

  .cards {
    margin-top: 10px;
  }

  .chat {
    margin-left: 0px;
  }
}



