body {
  background-color: rgb(32, 36, 39);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.chat-wrapper {
  display: flex;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chat {
  margin-left: 10px;
}

.chat__sidebar {
  background-color: rgb(55, 60, 63);
  padding: 5px 5px 5px 20px;
  margin-bottom: 10px;
  width: 45vh;
}

.chat__users {
  color: rgba(253, 252, 252, 0.685);
}

.chat__mainHeader {
  background-color: rgb(55, 60, 63);
  padding: 5px 5px 10px 20px;
  margin-bottom: 10px;
  width: 45vh;
}

.chat__mainHeader button {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background: #4b4e5328;
  border: 2.9px solid #2c2d2e;
  border-radius:2px;
  cursor:pointer;
  transition: all 0.3s;
  font-weight: 500;
  padding: 5px 5px 5px 5px
}

.chat__mainHeader button:hover {
  background: #676c7298;
  border: 2.9px solid #2c2d2e;
  border-radius: 6px;
}

.message__container {
  background-color: rgb(55, 60, 63);
  padding: 10px 20px 5px 20px;
  height: 50vh;
  margin-bottom: 10px;
  overflow-y: scroll;
  width: 43.9vh;

}

.message__chats {
  background-color: rgb(73, 78, 82);
  padding: 1px 1px 1px 10px;
  margin-bottom: 5px;
}

.sender__name {
  font-size: smaller;
  color: rgba(253, 252, 252, 0.685);
}

.chat__footer {
  background-color: rgb(55, 60, 63);
  padding: 15px 5px 30px 15px;
  width: 45vh;
  height: 4vh;
  margin-bottom: 10px;
}

.chat__footer input {
  width: 43vh;
  color:rgb(255, 255, 255);
  border: 2.9px solid rgb(119, 122, 124);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 2px;
  background-color: transparent;
  transition: all 0.3s;
  padding: 13px;
  box-sizing: border-box;
  outline:0;
}

.chat__footer input:focus {
  border: 2.9px solid rgb(146, 148, 150);

}

.cards {

}

@media screen and (max-width: 1200px)  {
  .chat-wrapper {
    display: flex;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }  

  .cards {
    margin-top: 10px;
  }

  .chat {
    margin-left: 0px;
  }
}

/* Styles for the footer section */
.footer-dark {
  padding: 20px 0;
  color: #f0f9ff;
  background-color: #191b1d;
}

/* Styles for the footer heading */
.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

/* Styles for the footer list */
.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

/* Styles for the footer links */
.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

/* Styles for the footer links on hover */
.footer-dark ul a:hover {
  opacity: 0.8;
}

/* Media query styles for small screens */
@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

/* Styles for the text item in the footer */
.footer-dark .item.text {
  margin-bottom: 36px;
}

/* Media query styles for small screens */
@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

/* Styles for the text in the footer */
.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

/* Styles for the social media links in the footer */
.footer-dark .item.social {
  text-align: center;
}

/* Media query styles for medium screens */
@media (max-width:991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

/* Styles for the social media link icons in the footer */
.footer-dark .item.social>a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

/* Styles for the social media link icons on hover */
.footer-dark .item.social>a:hover {
  opacity: 0.9;
}

/* Styles for the copyright text in the footer */
.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

/* Styles for links in the footer */
.footer-dark a {
  color: inherit;
  text-decoration: none;
}

.cards__sidebar {
  background-color: rgb(55, 60, 63);
  padding: 5px 5px 5px 20px;
  margin-bottom: 10px;
  width: 45vh;
}

.cards__users {
  color: rgba(253, 252, 252, 0.685);
}

.cards__mainHeader {
  background-color: rgb(55, 60, 63);
  padding: 5px 5px 10px 20px;
  margin-bottom: 10px;
  width: 45vh;
}

.cards__mainHeader button {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background: #4b4e5328;
  border: 2.9px solid #2c2d2e;
  border-radius:2px;
  cursor:pointer;
  transition: all 0.3s;
  font-weight: 500;
  padding: 5px 5px 5px 5px
}

.cards__mainHeader button:hover {
  background: #676c7298;
  border: 2.9px solid #2c2d2e;
  border-radius: 6px;
}

.cards__container {
  background-color: rgb(55, 60, 63);
  padding: 10px 20px 5px 20px;
  height: 50vh;
  margin-bottom: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 43.9vh;

}

.cards__footer {
  background-color: rgb(55, 60, 63);
  padding: 15px 5px 30px 15px;
  width: 45vh;
  height: 4vh;
  margin-bottom: 10px;
}

.image_container img {
  width: 15vh;
  height: 20vh;
}

.cards__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.stats_container {
  margin-left: 0x;
}

.image_container {
  margin-right: 40px;
  margin-left: 5px;
}

.stats_buttons {
  margin-left: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}

.stats_buttons button {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: larger;
  flex-basis: 25%;
  box-sizing: border-box;
  background: #4b4e5398;
  border: 2.9px solid #2c2d2e;
  border-radius:2px;
  cursor:pointer;
  transition: all 0.3s;
}

.stats_buttons button:hover {
  background: #676c7298;
  border: 2.9px solid #2c2d2e;
  border-radius: 10px;
}

.home {
  display: flex;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.home__container button {
  color:rgb(255, 255, 255);
  margin-top: 3px;
  background: #4b4e5365;
  border: 2.9px solid #2c2d2e;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 2px;
  line-height: 22px;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 10px;
  width:40%;
  box-sizing: border-box;
  outline:0;
}

.home__container button:hover {
  background: #4b4e5379;
  border: 2.9px solid #2c2d2e;
  border-radius: 10px;
}

.username__input {
  color:rgb(255, 255, 255);
  margin-top: 3px;
  margin-right: 10px;
  border:2.9px solid #3b3a3a;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 2px;
  line-height: 22px;
  background-color: transparent;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 10px;
  width:40%;
  box-sizing: border-box;
  outline:0;
}
