body {
  background-color: rgb(32, 36, 39);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.chat__sidebar {
  background-color: rgb(55, 60, 63);
  padding: 5px 5px 5px 20px;
  margin-bottom: 10px;
}

.chat__users {
  color: rgba(253, 252, 252, 0.685);
}

.chat__mainHeader {
  background-color: rgb(55, 60, 63);
  padding: 5px 5px 10px 20px;
  margin-bottom: 10px;
}

.message__container {
  background-color: rgb(55, 60, 63);
  padding: 10px 20px 5px 20px;
  height: 50vh;
  padding: 20px;
  overflow-y: scroll;

}

.message__chats {
  background-color: rgb(73, 78, 82);
  padding: 1px 1px 1px 10px;
  margin-bottom: 5px;
}

.sender__name {
  font-size: smaller;
  color: rgba(253, 252, 252, 0.685);
}


